@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
a,p,h1,h2{
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
.header{
  text-shadow: 4px 4px #2aff3a57, -4px -4px #7d18ff54;
}
nav{
  transition: all 500ms ease;
  margin: 0 auto;

}
@media only screen and (min-width: 764px) {
  nav{
      margin: 0 auto;
      max-width: 80%;
  }
}
a:hover{
  text-decoration:  underline;

}
code{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(44, 44, 44);
  color: white;
  overflow: scroll;
  padding: 10px;
  border-radius: 10px;
  max-width: 1000px;
  white-space:nowrap;
}
